* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

nav {
	background-color: white;
	position: sticky;
	top: 0;
	height: 50px;
	z-index: 2;
}

.nav-logo{
	margin-left: 9rem;
}
nav .nav, nav .nav-logo {
	margin-right: 1rem;
	display: inline;
	position: relative;
}

.right-nav {
	margin-right: 1.5rem;
	float: right;
	padding-bottom: 5px;
	font-weight: bold;

}

.nav ul li {
	list-style-type: none;
	display: inline-block;
}

.tuitt-button {
	color: white;
	font-weight: bold;
	background: #c2195b;
	font-size: .85rem;
	border-radius: 25px;
	padding: .3rem;
	width: 120px;
	margin-right: 5.5rem;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);	
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 50vh;
	background-position: center;
	background-attachment: scroll;
     
      
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 50vh;
	position: relative;
}

.container {
	z-index: 1;
	color: white;
}

.title {
	text-align: right;
	font-size: 2.5rem;
	font-family: 'Zilla Slab';
	margin-right: 9rem;
	width: 40%;
	float: right;
	margin-left: 50%;
	position: relative;
}

.subtitle {
	text-align: right;
	font-size: 1rem;
	float: right;
	margin-right: 9rem;
	width: 25%;
	height: 15%;
	margin-left: 70%;
	margin-top: 2.5rem;
	position: relative;
}

.apply-button {
	font-weight: bold;
	color: white;
	background: #c2195b;
	font-size: .8rem;
	border-radius: 22px;
	padding: .85rem;
	margin-left: 78%;
	margin-top: 1rem;
	margin-bottom: 2rem;
	margin-right: 9rem;
	width: 150px;
	position: relative;
}

.title-2 {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-family: 'zilla slab' ;
	font-size: 2rem;
}

.intro-description {
	text-align: justified;
	font-size: .85rem;
	padding-left: 15rem;
	padding-right: 15rem;
}

.prefooter-description {
	text-align: center;
}

.book-button {
	font-weight: bold;
	color: white;
	background: #336589;
	font-size: 1rem;
	border-radius: 25px;
	padding: .9rem;
	width: 200px;
	text-align: center;
	margin-left: 45%;
	margin-right: 45%;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	position: relative;
}

.prefooter {
	font-size: 1.75rem;
	margin-left: 20rem;
	margin-right: 20rem;
}

.prefooter-description{
	font-size: .9rem;
	margin-left: 20rem;
	margin-right: 20rem;
}

footer {
	text-align: center;
	position: relative;
	margin-bottom: 200px;
	padding-bottom: 20px;
	}

span {
	margin-left: 1rem;
}	